<template>
    <div id="home">
        <div class="main">
            <vue-particles :hoverEffect="true" hoverMode="grab" :particlesNumber="150" :clickEffect="true" clickMode="repulse" :linesDistance="150"></vue-particles>
            <div class="text">
                <h2 class="display-2 ml-3"><span class="txt-type" data-wait="3000" data-words='["Aminul Islam", "Animux"]'></span></h2>
                <div class="icons">
                    <a href='https://facebook.com/Animuxxx' target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook' }" size="3x"/></a>
                    <a href='https://instagram.com/aminullll' target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'instagram' }" size="3x"/></a>
                    <a href='https://twitter.com/_Animux' target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'twitter' }" size="3x"/></a>
                    <a href='https://github.com/animux' target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'github' }" size="3x"/></a>
                    <a href='https://www.youtube.com/channel/UCXk33TccCB847MEtFb9I38A' target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'youtube' }" size="3x"/></a>
                </div>
            </div>
        </div>

        <div class="about text-center">
            <b-container>
                <div class="title"><h2 class="display-4">About me</h2></div>
                <div class="cont">
                    <b-row align-v="center" align-h="center">
                        <b-col lg="3"><img :src="require('@/assets/profile.jpg')" class="rounded-circle img-fluid mb-3" alt="img" width="250px" height="250px"/></b-col>
                        <b-col lg="9"><p>I am a very inquisitive person who likes to learn about software & technology. I was never the best at academics. My sole intention is to wonder around the tech world and try to learn something new everyday. The name Animux (animus-inspired to accomplish something) stands for itself. I additionally create YouTube videos to share theories and ideas that interest me.</p></b-col>
                    </b-row>
                </div>
            </b-container>
        </div>

        <div class="stats">
            <GitHubStats />
            <YouTubeStats />
        </div>


        <div class="contact">
            <b-container>
                <b-row align-v="center">
                    <b-col lg="6">
                        <h1 class="display-4">Get in touch</h1>
                    </b-col>
                    <b-col lg="6" class="text-center">
                        <h4>Business email: elec.aminul@gmail.com</h4>
                        <h5>or</h5>
                        <h3>Contact me on</h3>
                        <div class="icons mt-4">
                            <a href='https://facebook.com/Animuxxx' target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook' }" size="3x"/></a>
                            <a href='https://instagram.com/aminullll' target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'instagram' }" size="3x"/></a>
                            <a href='https://twitter.com/_Animux' target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'twitter' }" size="3x"/></a>
                        </div>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </div>
</template>

<script>
import YouTubeStats from '@/components/YouTubeStats.vue';
import GitHubStats from '@/components/GitHubStats.vue';
import '@/assets/scripts/typewriter.js';

export default {
    name: 'Home',
    methods: {
        onSubmit() {
            return;
        }
    },
    components: {
        YouTubeStats,
        GitHubStats
    }
}
</script>

<style scoped lang="scss">
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Ubuntu&display=swap');
    @import '@/assets/css/fonts.scss';

    #home {
        .main {
            height: 100vh;
            position: relative;
            color: white;
            #particles-js {
                height: 100vh;
            }
            .text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-family: 'Montserrat', sans-serif;
                letter-spacing: 0.2em;
                text-align: left;
                margin-left: 40px;
                .txt-type {
                    border-right: 0.1rem solid white;
                }
                .icons {
                    a {
                        color: white;
                        margin: 0px 10px;
                        padding: 5px;
                    }
                    a:hover {
                        color: gray;
                    }   
                }
            }
        }
        .about {
            background-color: #0e0e0e;
            margin-top: 20px;
            color: white;
            .title {
                text-align: left;
                padding-top: 3em;
                margin-left: 20px;
            }
            .cont {
                padding: 4em 0;
                p {
                    text-align: left;
                    font-size: 1.2em;
                    font-family: 'Ubuntu', sans-serif;   
                }
            }
        }

        .contact {
            background-color: #0e0e0e;
            color: white;
            padding: 40px 0;
            .icons {
                a {
                    color: white;
                    margin: 0px 10px;
                    padding: 5px;
                }
                a:hover {
                    color: gray;
                }   
            }
        }

        @media (max-width: 768px) {
            .main {
                text-align: center;
                .text {
                    // text-align: center;
                    margin-left: 0px;
                }
                .icons {
                    a {
                        margin: 0;
                        padding: 0
                    }
                }
            }
            .about {
                .title {
                    text-align: center;
                    margin-left: 0px;
                }
            }
            .contact {
                text-align: center;
            }
        }
    }

</style>