@font-face {
    font-family: 'Gravity Regular';
    src: url('~@/assets/fonts/Gravity-Regular.otf')
}

@font-face {
    font-family: 'Gravity Light';
    src: url('~@/assets/fonts/Gravity-Light.otf');
}