<template>
    <div id="footer">
        <div class="text-center mt-3">
            <p>2020 &copy; Copyright; Animux</p>
        </div>
    </div>
</template>

<script>
export default {
    name: "Footer"
}
</script>

<style scoped lang="scss">
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    
    #footer {
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 100;
        font-size: 1em;
    }
</style>