<template>
    <div id="githubstats" class="my-5">
        <b-container>
            <b-row align-v="center">
                <b-col lg="6">
                    <h1 class="title">GitHub<br>Statistics</h1>
                </b-col>
                <b-col lg="6">
                    <b-row class="text-center">
                        <b-col lg="6" class="border-btm-count">
                            <IOdmeter class="count my-3 iOdometer" :value="repoCount" />
                            <div class="count-text">Repositories</div>
                        </b-col>
                        <b-col lg="6">
                            <IOdmeter class="count my-3 iOdometer" :value="followCount" />
                            <div class="count-text">Followers</div>
                        </b-col>
                    </b-row>
                    <div v-waypoint="{ active: true, callback: onWaypoint, option: intersectionOption }"></div>
                </b-col>
            </b-row>
        </b-container>
        <div class="border-btm"></div>
    </div>
</template>

<script>
import IOdmeter from 'vue-odometer';
import 'odometer/themes/odometer-theme-default.css';

export default {
    name: 'GitHubStats',
    data() {
        return {
            repos: '',
            followers: '',
            repoCount: 0,
            followCount: 0,
            intersectionOption: {
                root: null,
                rootMargin: '0px',
                threshold: 0.75
            }
        }
    },
    components: {
        IOdmeter
    },
    methods: {
        onWaypoint({ going }) {
            if (going == this.$waypointMap.GOING_IN) {
                this.repoCount = this.repos;
                this.followCount = this.followers;
            }
        }
    },
    beforeCreate() {
        fetch('https://animux-server.glitch.me/github/stats').then((response) => {
            response.json().then((resp) => {
                this.repos = Math.ceil(resp.data.repo);
                this.followers = Math.ceil(resp.data.followers);
            }).catch(console.error);
        }).catch(console.error);
    }
}
</script>

<style lang="scss" scoped>
    @import '@/assets/css/fonts.scss';

    #githubstats {
        color: white;
        .border-btm {
            border-bottom: 1px solid white;
            margin: 50px 15rem;
        }
        .title {
            font-family: 'Gravity Light', sans-serif;
            text-transform: uppercase;
            font-size: 2.3em;
        }
        .count {
            font-family: 'Gravity Regular', sans-serif;
            font-size: 1.2em;
        }
        .count-text {
            font-family: 'Gravity Regular', sans-serif;
            font-size: 1em;
            letter-spacing: 0.4em;
        }
        @media (max-width: 992px) {
            .title {
                text-align: center;
                margin-bottom: 50px
            }
            .count {
                margin-bottom: 40px;
            }
            .count-text {
                margin-bottom: 30px;
            }
            .border-btm-count {
                border-bottom: 1px solid white;
                margin: 0px 40px;
            }
        }
    }
</style>