<template>
    <div id="youtubestats">
        <b-container>
            <h1 class="text-center mt-5 title">You<span class="text-red">Tube</span> Statistics</h1>
            <div class="stats-grid-wrapper mt-4" v-waypoint="{ active: true, callback: onWaypoint, option: intersectionOption }">
                <div class="count-stats border-btm">
                    <IOdmeter class="count mb-3 iOdometer" :value="viewCount" />
                    <h4 class="count-text">Views</h4>
                </div>
                <div class="count-stats border-btm">
                    <IOdmeter class="count mb-3 iOdometer" :value="subCount" />
                    <h4 class="count-text">Subscribers</h4>
                </div>
                <div class="count-stats">
                    <IOdmeter class="count mb-3 iOdometer" :value="vidCount" />
                    <h4 class="count-text">Videos</h4>
                </div>
            </div>

            <h1 class="text-center mt-5 title">Most Popular Uploads</h1>

            <div class="grid-wrapper text-center mb-5">
                <div class="youtube-video mt-5" v-for="video in videos" :key="video.id">
                    <a :href="`https://www.youtube.com/watch?v=${video.id}`" target="_blank">
                        <img class="img-thumbnail" :src="video.thumbnail.url" :width="video.thumbnail.width + 'px'" :height="video.thumbnail.height + 'px'" alt="Thumbnail" />
                        <div class="texts py-2">
                            <div class="yt-title">{{ video.title }}</div>
                        </div>
                    </a>
                </div>
            </div>
        </b-container>
    </div>
</template>

<script>
import IOdmeter from 'vue-odometer';
import 'odometer/themes/odometer-theme-default.css';

export default {
    name: 'YouTubeStats',
    data() {
        return {
            subscribers: '',
            uploads: '',
            views: '',
            videos: '',
            subCount: 0,
            vidCount: 0,
            viewCount: 0,
            intersectionOption: {
                root: null,
                rootMargin: '0px',
                threshold: 0.25
            }
        }
    },
    components: {
        IOdmeter
    },
    methods: {
        onWaypoint({ going }) {
            if (going === this.$waypointMap.GOING_IN) {
                this.subCount = this.subscribers;
                this.viewCount = this.views;
                this.vidCount = this.uploads;
            }
        }
    },
    beforeCreate() {
        fetch('https://animux-server.glitch.me/yt/stats').then((response) => {
            response.json().then((resp) => {
                this.subscribers = Math.ceil(resp.subscribers);
                this.uploads = Math.ceil(resp.uploads);
                this.views = Math.ceil(resp.views);
                this.videos = resp.VideoItems;
            }).catch(console.error);
        }).catch(console.error);
    }
}
</script>

<style scoped lang="scss">
    @import '@/assets/css/fonts.scss';
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


    #youtubestats {
        color: white;
        .title {
            font-family: 'Gravity Light', sans-serif;
            text-transform: uppercase;
            font-size: 2.3em;
        }
        .text-red {
            color: rgb(255, 0, 0);
        }
        .stats-grid-wrapper {
            text-align: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            .count-stats {
                text-align: center;
                .count {
                    font-family: 'Gravity Regular', sans-serif;
                    font-size: 1.2em;
                }
                .count-text {
                    font-family: 'Gravity Regular', sans-serif;
                    font-size: 1em;
                    letter-spacing: 0.4em;
                }
            }
        }
        .grid-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            a {
                text-decoration: none;
                color: white;
            }
            .youtube-video {
                transition: box-shadow .3s;
                background: #0e0e0e;
                border-radius: 0.5rem;
                .img-thumbnail {
                    border: none;
                    background: none;
                }
                .yt-title {
                    font-family: 'Ubuntu', sans-serif;
                }
                .texts {
                    padding: 5px 5px;
                }
            }
            .youtube-video:hover {
                box-shadow: 0 0 15px #0e0e0e;
            }
        }
    }

    @media (max-width: 768px) {
        #youtubestats {
            .stats-grid-wrapper {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 20px;
                .border-btm {
                    border-bottom: 1px solid white;
                    margin: 0 20px;
                }
                .count-stats {
                    .count-text {
                        margin-bottom: 20px;
                    }
                }
            }
            .grid-wrapper {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 5px;
            }
        }
    }
</style>