<template>
  <div id="app">
    <Home />
    <Footer />
  </div>
</template>

<script>
import Home from '@/view/Home.vue';
import Footer from '@/components/layout/Footer.vue';

export default {
  name: 'App',
  components: {
    Home,
    Footer
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  #app {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
  }
  html {
    background-color: #212121;
  }
</style>
